/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

.button-cell {
  display: inline-flex;
}

.navbar-separator {
  border-left: 1px solid silver;
}

@media (max-width: 768px) {
  .navbar-separator {
    border-left: none;
  }
}

td ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.wine-form-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: end;
  gap: 1rem;
}

.wine-form-row > * {
  flex-basis: content;
}

.evaluation-textfield {
  max-width: 6rem;
}
