<div class="nested-fields">
  <div class="field">
      <%= f.label :percentage %>
      <%= f.text_field :percentage %>
  </div>

  <%= f.select :grape_id, grapes_for_select %>

  <%= link_to_remove_association "remove grape", f %>
</div>
