<h1 class="display-4 my-4">Wine</h1>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Grapes:</strong>
  <ul>
    <% @wine.grape_wines.ordered.each do |gw| %>
      <li><%= gw %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_wine_path(@wine) %> <br />
<%= link_to '<< Wines', wines_path %>
